<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>Credits - Cypher Encoder & Decoder</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <p>This project is developed and maintained by Central3465. </p>
    <br>
    <p>
      Source code is available on
      <a href="https://github.com/Central3465/curly-funicular" target="_blank">GitHub</a>.
      (The "the" is important – running your own "instance" is not recommended or supported.)
    </p>
    <br>
    <p>
      Special thanks to Adam for their contributions and support with the project, specifically the cipher logic.
    </p>
  </body>
</html>
